@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Get rid of all default margins/paddings. Set typeface */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #005e90;
  font-family: "lato", sans-serif;
}

/* Puts the form in the center both horizontally and vertically. Sets its height to 100% of the viewport's height */

.formEleccion{
  padding-bottom: 10%;
  height: 90px;
}

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 5%;
  }

  .formLogin {
    background-color: white;
    width: 800px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }

  .formProyecto {
    background-color: white;
    width: 800px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }

  /* Style the inputs */

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(83, 195, 223);
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  /* Hide the placeholder texts (a) */
  
  ::placeholder {
    color: transparent;
  }

  /* Styling text labels */

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .submitBtn {
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgb(83, 195, 223);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 40%;
  }

  .submitBtn1{
    padding: 15px 30px;
    border: none;
    background-color: rgb(83, 195, 223);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 40%;
  }

  
  .submitBtn:hover {
    background-color: rgb(83, 195, 223);
    transform: translateY(-2px);
  }

  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: rgb(48, 74, 224);
  }

  .input:focus {
    border: 2px solid rgb(83, 195, 223);
  }

  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }

/* Estilo básico para la tabla */
table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
}

.tablet{
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.tabletxt{
  margin-bottom: 4%;
  color: #DADCE0;
}

/* Estilo para el encabezado de la tabla */
th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

/* Estilo para las celdas de la tabla */
td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilo para las filas al pasar el ratón */
tr:hover {
  background-color: #f2f2f2;
}

/* Estilos para el formulario de filtro */
form {
  margin-bottom: 20px; /* Añade espacio entre el formulario y la tabla */
}

select {
  padding: 8px 12px; /* Ajusta el relleno del select */
  font-size: 16px; /* Ajusta el tamaño de fuente del select */
  border: 1px solid #ccc; /* Añade un borde al select */
  border-radius: 4px; /* Añade esquinas redondeadas al select */
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Color de texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el select */
}

/* Estilos para los options del select */
option {
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Color de texto */
}

/* Estilos para el contenedor de la tabla */
.table-container {
  max-width: 800px; /* Ancho máximo del contenedor de la tabla */
  margin: 0 auto; /* Centra el contenedor en la página */
}
.filtro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

select {
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

.spnsrFrm {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 5%;
}

.mdfFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 5%;
}

.logo{
  text-align: center;
}

.filtro{
  align-items: end;
}